---
# //Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from `sass_dir` (defaults to `_sass`)
@import "main-import",
        "base",
        "layout",
        "syntax-highlighting"
;

// RADISH: Import the rest of Arcane sass
// @import "arcane/helpers";

// @import "arcane/reset";
// @import "arcane/fix";

// @import "arcane/components";
// @import "arcane/schools";


// APP-SPECIFIC
.center-text
{
    text-align: center;
}

.position-relative
{
    position: relative;
    @extend %clearfix;
}

.resume-icon
{
    font-size: 0.5em;
    bottom: 3px;
}

img.screenshot
{
    width: 66.7%;
    // display: block;
    // margin: 0.5em auto;
}

/* .grid-box
{
    margin: 0 -($spacing-unit/2);
    @include clearfix();
}
#folio-index > .post-content > .grid-box
{
    margin: 0 -($folio-spacing/2);
} */

.folio-card
{
    text-align: center;
    
    /* float: left;
    width: 50%;
    
    padding: $folio-spacing / 2;
    
    img.screenshot
    {
        width: 100%;
    } */
    // @include clearfix();
    @extend %clearfix;
}
.folio-card + .folio-card
{
    margin-top: $spacing-unit;
}

.folio-link-col
{
    float: left;
    width: 33.33333333%;
    
    img.screenshot
    {
        width: 100%;
    }
}
.folio-brief-col
{
    float: left;
    width: 66.66666667%;
    padding-left: $spacing-unit;
    
    .brief
    {
        margin-top: $font-size-h3;
        
        @include media-query($on-laptop)
        {
            margin-top: $font-size-h3 - 2;
        }
    }
}
.item-link-col
{
    text-align: center;
    
    display: inline-block;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.team-project
{
    font-weight: bold;
}

// fancy left-justified centering
.shuck
{
    display: inline-block;
    position: relative;
    left: 50%;
    
    white-space: nowrap; // Chrome is inexplicably compelled to put icon and text on separate lines without this
}
.shuck > .jive
{
    display: inline-block;
    position: relative;
    left: -50%;
}

// .dog-earred
// {
//     background: linear-gradient(45deg, #F8F8F8 0%, #F8F8F8 90%, transparent 90%, transparent 100%);
//     width: 850px;
//     height: 1100px;
//     position: relative;
//     
//     /* typography */
//     // padding: 10px 0 10px 10px;
//     color: #080808;
//     
//     overflow: hidden;
//     
//     &::after
//     {
//         content: '';
//         display: inline-block;
//         width: 23px;
//         height: 23px;
//         right: 0;
//         top: 0;
//         position: absolute;
//         background: linear-gradient(45deg, #E8E8E8 0%, #E0E0E0 50%, transparent 50%, transparent 100%);
//         box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.2);
//         border-left: 1px solid rgba(0,0,0,0.2);
//         border-bottom: 1px solid rgba(0,0,0,0.2);
//     }
// }

span.egg
{
    color: mix($text-color, $link-color, 50%);
    cursor: default;
}
span.egg:hover
{
    border-bottom: 1px dotted mix($text-color, $link-color, 50%);
    margin-bottom: -1px;
}
.site-header, .site-footer
{
    span.egg
    {
        color: mix(white, $nav-color, 88%);
    }
    span.egg:hover
    {
        border-bottom: 1px dotted mix(white, $nav-color, 88%);
    }
}

.emoji
{
    font-family: Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji;
}