---
permalink: /gift/
layout: gift_list
occasion: Christmans
year: 2017
---

{% if site.data.gifts.prescript %}
  {% for paragraph in site.data.gifts.prescript %}
  <p>{{ paragraph.text }}</p>
  {% endfor %}
{% endif %}

<ol>
{% for gift in site.data.gifts.current %}
  <li>
    <a href="{{ gift.link }}" target="_blank">{{ gift.name }}</a>
    <ul>
      <li>{{ gift.description }}</li>
      <li>{{ gift.price }}</li>
    {% if gift.note %}
      <li class="note fa-{{gift.note.icon}}"> {{ gift.note.text | markdownify }}</li>
    {% endif %}
    {% if gift.osublist %}
      <li><ol class="sublist">
     {% for subitem in gift.osublist %}
      <li>{{ subitem.text | markdownify }}</li>
     {% endfor %}
      </ol></li>
    {% endif %}
    </ul>
  </li>
{% endfor %}
</ol>

{% if site.data.gifts.postscript %}
  {% for paragraph in site.data.gifts.postscript %}
  <p>{{ paragraph.text }}</p>
  {% endfor %}
{% endif %}