<header class="site-header">
  <div class="position-relative">
    <a class="site-title" href="{{ site.baseurl }}/">
      <span class="first-name">{{site.data.resume.first_name}}</span>
      <span class="last-name">{{site.data.resume.last_name}}</span>
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon button">
        <i class="fa fa-bars"></i>
      </a>

      <div class="trigger">
        <a class="page-link" href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
          <span class="username">GitHub</span>
        </a>
        <a class="page-link" href="{{ site.linkedin }}">
          <i class="fa fa-linkedin-square"></i>
          <span class="username">LinkedIn</span>
        </a>
        <a class="page-link" href="/resume">
          <span class="fa-stack resume-icon">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
          Résumé
        </a>
        <!-- 
          {% comment %}
          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
          {% endcomment %}
        -->
      </div>
    </nav>
  </div>
</header>
