<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>
  
  <!-- <link rel="icon" type="image/png" href="/favicon.png"> -->
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=2" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-24x24.png?v=2" sizes="24x24">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=2" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-48x48.png?v=2" sizes="48x48">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
  
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <script src="https://kit.fontawesome.com/240f926b8c.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" /> -->
  
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/script.js"></script>
</head>
