
*
{
    box-sizing: border-box;
}

// Because Internet Explorer's HTML5 support is a LIE
main
{
    display: block;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure 
{
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body 
{
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    
    padding-right:  $spacing-unit;
    padding-left:   $spacing-unit;
    
    @include media-query($on-laptop)
    {
        padding-right:  $spacing-unit / 2;
        padding-left:   $spacing-unit / 2;
    }
    @include media-query($on-palm) 
    {
        padding-right:  0;
        padding-left:   0;
    }
}



/**
 * Set `margin` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm 
{
    // margin-bottom: $spacing-unit / 2;
    margin: ($spacing-unit / 2) 0;
    
    &:first-child, &.first
    {
        margin-top: 0;
    }
    &:last-child, &.last
    {
        margin-bottom: 0;
    }
}



/**
 * Images
 */
img 
{
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img 
{
    display: block;
}

figcaption 
{
    font-size: $font-size-small;
}



/**
 * Lists
 */
ul, ol 
{
    margin-left: $spacing-unit;
}

li 
{
    > ul,
    > ol 
    {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-weight: 500;
    line-height: $line-height-header;
    
    margin-top:     1em;
    margin-bottom:  0.5em;
    
    @at-root *:not(a) > &:first-child
    {
        margin-top: 0.25em;
    }
    @at-root header > &
    {
        margin-top: 0.25em;
        
        &:not(:last-child)
        {
            margin-bottom: 0;
        }
    }
}
.h1, .h2, .h3, h1, h2, h3
{
    font-family: $font-family-header;
}
.h4, .h5, .h6, h4, h5, h6
{
    font-family: $font-family-base;
}
.h1, h1
{
    font-size: $font-size-h1;
}
.h2, h2
{
    font-size: $font-size-h2;
    font-variant: small-caps;
    font-weight: bold;
    color: $nav-bg-color
}
.h3, h3
{
    font-size: $font-size-h3;
    font-weight: bold;
    font-style: italic;
}
.h4, h4
{
    font-size: $font-size-h4;
}
.h5, h5
{
    font-size: $font-size-h5;
    //font-weight: 600;
}
.h6, h6
{
    font-size: $font-size-h6;
    //font-weight: 700;
}



/**
 * Links
 */
a 
{
    color: $brand-color;
    text-decoration: none;
    
    // &:visited 
    // {
    //     color: darken($brand-color, 15%);
    // }
    
    &:hover 
    {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote 
{
    color: rgba($text-color, 0.51);
    // border-left: 4px solid $grey-color-light;
    
    background: -webkit-linear-gradient(    left, rgba($text-color, 0.1) 0%, rgba($text-color, 0.1) 6%, rgba($text-color, 0) 18%); // Chrome10+, Safari5.1+
    background:    -moz-linear-gradient(    left, rgba($text-color, 0.1) 0%, rgba($text-color, 0.1) 6%, rgba($text-color, 0) 18%); // FF3.6+
    background:     -ms-linear-gradient(    left, rgba($text-color, 0.1) 0%, rgba($text-color, 0.1) 6%, rgba($text-color, 0) 18%); // IE10+
    background:      -o-linear-gradient(    left, rgba($text-color, 0.1) 0%, rgba($text-color, 0.1) 6%, rgba($text-color, 0) 18%); // Opera 11.10+
    background:         linear-gradient(to right, rgba($text-color, 0.1) 0%, rgba($text-color, 0.1) 6%, rgba($text-color, 0) 18%); // Standard
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1); // IE6-9
    
    padding-left: 4px + $spacing-unit / 2;
    font-size: $font-size-base + 2;
    letter-spacing: -1px;
    font-style: italic;
    
    > :last-child 
    {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code
{
    font-size: $font-size-base - 1;
    border: 1px solid #dde;
    border-radius: 3px;
    background-color: #eef;
}

code 
{
    padding: 1px 5px;
}

pre 
{
    padding: 4px 6px;
    overflow-x: scroll;
    
    > code 
    {
        border: none;
        box-shadow: none;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Small
 */
small
{
    font-size: 70%;
}


/**
 * Wrapper
 */
.wrapper
{
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:    $content-width;
    margin-right: auto;
    margin-left:  auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    
    @extend %clearfix;
    
    // &.resume
    // {
    //     max-width: $resume-width;
    //     min-width: $resume-width;
    //     padding: 0;
    // }
    
    // .site-header, .site-footer, .page-content
    > *
    {
        padding-right: $content-padding;
        padding-left:  $content-padding;
    }
    
    @include media-query($on-laptop) 
    {
        // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        // max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
        
        > *
        {
            padding-right: $content-padding / 2;
            padding-left:  $content-padding / 2;
        }
        
        // &.resume
        // {
        //     max-width: $resume-width;
        //     min-width: $resume-width;
        //     padding: 0;
        // }
    }
}

// main.page-content .wrapper:not(.resume)
.page-content
{
    background-color: $content-bg-color;
}


/**
 * Clearfix
 */
%clearfix 
{
    &::after 
    {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 *
.icon 
{
    
    > svg 
    {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        
        path
        {
            fill: $grey-color;
        }
    }
}
*/
