
$font-xmas      : Mountains of Christmas, Old English Text MT;
$font-bday      : Consolas, Monaco, Monofur, monospace;
$font-guide     : Handlee;

// $font-body      : Book Antiqua;
$font-body      : Segoe UI, Frutiger, DejaVu Sans, Helvetica Neue, Helvetica, Source Sans Pro, Open Sans, Calibri, Arial, sans-serif;
$font-url       : Tahoma, Roboto, Lucida Grande, Ubuntu, sans-serif;

// $font-size-base : 12pt;
// $font-size-sub  : 10pt;
$font-size-base : 16.6667px;
$font-size-sub  :  0.8333em;

$page-width     : 850px;
$page-height    : 1100px;
$page-margin    : 60px;
$page-gap       : 50px;

// $color-primary  : #03305A;
// $color-secondary: #FF9933;
$text-color     : black;
