
$font-xmas        : Mountains of Christmas, Old English Text MT;
$font-bday        : Consolas, Monaco, Monofur, monospace;
$font-guide       : Handlee;

$font-body        : Segoe UI, Frutiger, DejaVu Sans, Helvetica Neue, Helvetica, Source Sans Pro, Open Sans, Calibri, Arial, sans-serif;
$font-url         : Tahoma, Roboto, Lucida Grande, Ubuntu, sans-serif;

$font-size-base   : 16.6667px;
$font-size-detail : $font-size-base * 5/6;
$font-size-small  : $font-size-detail * 0.8;
$line-height-gift : 1.1;

$page-width       : 850px;
$page-height      : 1100px;
$page-margin      : 60px;
$page-gap         : 50px;

$text-color       : black;
