/**
 * Site header
 */
.site-header 
{
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid rgba($nav-color, 0.5);
    background-color: $nav-bg-color;
    // min-height: $nav-height;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    @extend %clearfix;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    
    // opacity: $nav-opacity;
    a:not([disabled])
    {
        &:hover, &:focus, &:active
        {
            opacity: 1;
            color: #F0EBE6;
            text-decoration: none;
        }
    }
}

.site-title
{
    font-size: $font-size-h1;
    font-family: $font-family-header;
    // line-height: $nav-height;
    // letter-spacing: -1px;
    margin-bottom: 0;
    line-height: 0.8;
    
    float: left;
    
    .first-name
    {
        font-weight: bold;
        color: white;
    }
    .last-name
    {
        font-weight: bold;
        color: $nav-color;
    }
    
    &:hover
    {
        text-decoration: none;
        // text-decoration-color: $nav-color;
        
        .first-name
        {
            color: $nav-color;
        }
        .last-name
        {
            color: white;
        }
    }
    
    @include media-query($on-laptop)
    {
        font-size: ($font-size-h1 + $font-size-h2) / 2;
    }
    
    @include media-query($on-palm)
    {
        font-size: $font-size-h2;
    }
}

.site-nav 
{
    // float: right;
    // line-height: $nav-height;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    .menu-icon 
    {
        display: none;
    }
    
    .page-link
    {
        // color: $nav-color;
        line-height: $line-height-base;
        
        font-size: $font-size-h4;
        // font-family: $font-family-header;
        
        // Gaps between nav items, but not on the first one
        &:not(:first-child)
        {
            margin-left: 20px;
        }
    }
    
    @include media-query($on-laptop)
    {
        .page-link
        {
            font-size: $font-size-h4 - 2;
        }
    }
    @include media-query($on-palm)
    {
        // position: absolute;
        top: -3px;
        // right: 30px;
        // background-color: $background-color;
        // border: 1px solid $grey-color-light;
        // border-radius: 5px;
        // text-align: right;
        
        // padding-top: 10px;
        
        .menu-icon
        {
            // border-radius: 5px;
            
            display: block;
            float: right;
            // width: 36px;
            // height: 26px;
            line-height: 0;
            text-align: center;
            
            font-size: $font-size-h2;
        }
        
        .trigger 
        {
            clear: both;
            display: none;
            
            padding-bottom: 5px;
            background-color: $nav-bg-color;
            box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
        }
        
        &:hover .trigger 
        {
            display: block;
        }
        
        .page-link 
        {
            display: block;
            padding: 5px 10px;
            z-index: 50;
            
            &:not(:first-child)
            {
                margin-left: 0;
            }
        }
    }
}

hr
{
    opacity: 0.75;
}

/**
 * Site footer
 */
.site-footer 
{
    // border-top: 1px solid rgba($nav-color, 0.5 * $nav-opacity);
    padding: $spacing-unit 0;
    color: rgba(white, 0.61);
    background-color: $nav-bg-color;
    
    a:hover, a:focus, a:active
    {
        color: #F0EBE6;
        text-decoration: none;
    }
}

.footer-heading 
{
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list 
{
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper 
{
    font-size: $font-size-base - 1;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col 
{
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    
    // width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    // width:         calc(33.3% - (#{$spacing-unit} / 2));
    width: 33.3%;
}
/* 
.footer-col-1
{
    
}
.footer-col-2
{
    
}
.footer-col-3
{
    
} */

@include media-query($on-palm) 
{
    .footer-col 
    {
        float: none;
        // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        // width:         calc(100% - (#{$spacing-unit} / 2));
        width: 100%;
    }
    
    .footer-col + .footer-col
    {
        margin-top: 1em;
    }
    
    .shuck, .shuck > .jive
    {
        display: initial;
    }
}



/**
 * Page content
 */
.page-content
{
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    
    a
    {
        color : $link-color;
    }
    a:hover, a:focus, a:active
    {
        color : $link-hover-color;
    }
    
    @extend %clearfix;
}

.page-heading 
{
    font-size: 20px;
}

.post-list
{
    margin-left: 0;
    list-style: none;
    
    > li 
    {
        margin-bottom: $spacing-unit;
    }
}

.post-meta 
{
    font-size: $font-size-small;
    color: rgba($text-color, 0.51);
}

.post-link 
{
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header 
{
    margin-bottom: $spacing-unit;
}

.post-title 
{
    // font-size: $font-size-h1;
    // letter-spacing: -1px;
    line-height: $line-height-header;
    
    @include media-query($on-laptop) 
    {
        font-size: $font-size-h2 - 2;
    }
}

.post-content 
{
    margin-bottom: $spacing-unit;
    
    @include media-query($on-laptop)
    {
        font-size: $font-size-base - 2;
        
        h1, .h1
        {
            font-size: $font-size-h1 - 2;
        }
        h2, .h2
        {
            font-size: $font-size-h2 - 2;
        }
        h3, .h3
        {
            font-size: $font-size-h3 - 2;
        }
        h4, .h4
        {
            font-size: $font-size-h4 - 2;
        }
        h5, .h5
        {
            font-size: $font-size-h5 - 2;
        }
        h6, .h6
        {
            font-size: $font-size-h6 - 2;
        }
    }
}

