/**
 * Site header
 */
.site-header 
{
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid rgba($nav-color, 0.5);
        
    min-height: 56px;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    
    // opacity: $nav-opacity;
    a:not([disabled])
    {
        &:hover, &:focus, &:active
        {
            opacity: 1;
        }
    }
}

.site-title
{
    font-size: $font-size-h2;
    font-family: $font-stack-arcane-top;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    
    // &,
    // &:visited 
    // {
    //     color: $grey-color-dark;
    // }
}

.site-nav 
{
    float: right;
    line-height: 56px;
    
    .menu-icon 
    {
        display: none;
    }
    
    .page-link 
    {
        // color: $nav-color;
        line-height: $base-line-height;
        
        font-size: $font-size-h4;
        font-family: $font-stack-arcane-mid;
        
        // Gaps between nav items, but not on the first one
        &:not(:first-child) 
        {
            margin-left: 20px;
        }
    }
    
    @include media-query($on-palm)
    {
        position: absolute;
        top: 9px;
        right: 30px;
        // background-color: $background-color;
        // border: 1px solid $grey-color-light;
        // border-radius: 5px;
        text-align: right;
        
        padding-top: 10px;
        
        .menu-icon
        {
            border-radius: 5px;
            
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            text-align: center;
            
            font-size: 18px;
        }
        
        .trigger 
        {
            clear: both;
            display: none;
        }
        
        &:hover .trigger 
        {
            display: block;
            padding-bottom: 5px;
        }
        
        .page-link 
        {
            display: block;
            padding: 5px 10px;
            z-index: 50;
        }
    }
}

hr
{
    opacity: 0.75;
}

/**
 * Site footer
 */
.site-footer 
{
    // border-top: 1px solid rgba($nav-color, 0.5 * $nav-opacity);
    padding: $spacing-unit 0;
}

.footer-heading 
{
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list 
{
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper 
{
    font-size: $base-font-size - 1;
    color: rgba($text-color, 0.51);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col 
{
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    
    width: -webkit-calc(33.3% - (#{$spacing-unit} / 2));
    width:         calc(33.3% - (#{$spacing-unit} / 2));
    
    ul
    {
        @include list-style-none();
    }
}
/* 
.footer-col-1
{
    
}
.footer-col-2
{
    
}
.footer-col-3
{
    
} */

// fancy left-justified centering
.shuck
{
    display: inline-block;
    position: relative;
    left: 50%;
}
.shuck > .jive
{
    display: inline-block;
    position: relative;
    left: -50%;
}

@include media-query($on-palm) 
{
    .footer-col 
    {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    
    .footer-col + .footer-col
    {
        margin-top: 1em;
    }
    
    .shuck, .shuck > .jive
    {
        display: initial;
    }
}



/**
 * Page content
 */
.page-content 
{
    padding: $spacing-unit 0;
}

.page-heading 
{
    font-size: 20px;
}

.post-list 
{
    margin-left: 0;
    list-style: none;
    
    > li 
    {
        margin-bottom: $spacing-unit;
    }
}

.post-meta 
{
    font-size: $small-font-size;
    color: rgba($text-color, 0.51);
}

.post-link 
{
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header 
{
    margin-bottom: $spacing-unit;
}

.post-title 
{
    // font-size: $font-size-h1;
    letter-spacing: -1px;
    line-height: 1;
    
    @include media-query($on-laptop) 
    {
        font-size: $font-size-h1 - 4;
    }
}

.post-content 
{
    margin-bottom: $spacing-unit;
    
    @include media-query($on-laptop)
    {
        font-size: $base-font-size - 2;
        
        h2 
        {
            font-size: $font-size-h2 - 4;
        }
        h3 
        {
            font-size: $font-size-h3 - 4;
        }
        h4
        {
            font-size: $font-size-h4 - 2;
        }
        h5
        {
            font-size: $font-size-h5 - 2;
        }h6
        {
            font-size: $font-size-h6 - 2;
        }
    }
}


// === RADISH ===

span.egg:hover
{
    text-decoration-style: dotted;
}

.resume-icon
{
    font-size: 0.75em;
}

img.screenshot
{
    width: 66.7%;
    // display: block;
    // margin: 0.5em auto;
    
    // @include spell-box($container-color);
    // @include glow-mild-border($container-color);
}

.item-link-col
{
    text-align: center;
    
    display: inline-block;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}


.resume
{
    background: linear-gradient(45deg, #F8F8F8 0%, #F8F8F8 90%, transparent 90%, transparent 100%);
    // width: 85px;
    // height: 110px;
    position: relative;
    
    /* typography */
    // padding: 10px 0 10px 10px;
    color: #080808;
    
    overflow: hidden;
    
    &::after
    {
        content: '';
        display: inline-block;
        width: 23px;
        height: 23px;
        right: 0;
        top: 0;
        position: absolute;
        background: linear-gradient(45deg, #E8E8E8 0%, #E0E0E0 50%, transparent 50%, transparent 100%);
        box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.2);
        border-left: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}
