
$font-primary   : Consolas, Monaco, Monofur, monospace;
$font-secondary : Corbel, Gill Sans, Lato, Gill Sans MT, Lucida Grande, Lucida Sans, Trebuchet MS, sans-serif;

$font-size-base : 14px;

$color-primary  : #03305A;
$color-secondary: #FF9933;

$page-width     : 850px;
$page-height    : 1100px;
$page-width-a4  : 827px;
$page-height-a4 : 1168px;
$page-margin    : 35px;
$page-gap       : 50px;

$section-underline-width: 1px;

$skills-list-padding: $font-size-base;

$line-height-main       : 20/14;
$line-height-head       : 1.1;
$line-height-brag       : 17.7/14;

@mixin pseudo-bullets($padding, $bullet-right:0, $bullet:"•")
{
    padding-left: $padding;
    list-style: none;
    
    > li
    {
        &::before
        {
            float: left;
            content: $bullet;
            width: 0;
            margin-left: -$padding + $bullet-right;
        }
    }
}
