
$font-primary   : Consolas, Monaco, Monofur, monospace;
$font-secondary : Corbel, Gill Sans, Lato, Gill Sans MT, Lucida Grande, Lucida Sans, Trebuchet MS, sans-serif;

$font-size-base : 14px;

$page-width     : 850px;
$page-height    : 1100px;
$page-width-a4  : 827px;
$page-height-a4 : 1168px;
$page-margin    : 35px;
$page-gap       : 50px;

$color-primary  : #03305A;
$color-secondary: #FF9933;

$section-underline-width: 1px;
